.btn-primary {
  width: 310px;
  height: 120px;
  text-transform: uppercase;
  font: lighter 36px/45px $font-base;
  background: #fff;
  border: 1px solid $text_main;
  margin: 40px;
  display: block;
}
.btn-primary:hover {
  background: $bg_main;
}