.btn-primary {
  width: 310px;
  height: 120px;
  text-transform: uppercase;
  font: lighter 36px/45px $font-base;
  background: #fff;
  border: 1px solid $text_main;
  margin: 40px;
  display: block;
}

.btn-primary:hover {
  background: $bg_main;
}

.btn-secondary {
  width: 140px;
  height: 45px;
  font: lighter 16px $font-base;
  background: #fff;
  margin: 15px 40px;
  display: block;
  border: none;
}

.btn-secondary:hover {
  background: $bg_main;
  border: 1px solid $text_main;
}

.btn-active {
  border: 1px solid $text_main;
}