.section1 {
  display: flex;
}

.section1__column {
  min-width: 885px;
  // height: 963px;
}

.section1__column > img {
  display: block;
  max-width: 885px;
  height: 963px;
  object-fit: cover;
  object-position: 100% 100%;
}

.section1__login {
  display: flex;
  justify-content: flex-end;
  padding-right: 130px;
  div {
    max-height: 65px;
  }
  a {
    margin: 15px;
    cursor: pointer;
    font: normal 14px/85px $font-base;
    padding: 5px;
    color: $login_text;
  }
  a:hover {
    margin: 14px;
    border: 1px solid $login_border;
  }
}

.section1__ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  li {
    padding: 8px 13px;
  }
  li:hover {
    padding: 7px 12px;
    border: 1px solid $text_main;
  }
}

.section1__mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1__mainText {
  text-align: center;
  margin-top: 20%;
  h1 {
    font: normal 38px/55px $font-base;
  }
  img {
    margin: 20px;
  }
}

.section1__buttons {
  display: flex;
}